.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.header-left ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
.header-left li a{
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.search{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search input{
    background-color: rgb(245, 245, 249);
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 15px;
}
.icons{
    display: flex;
    align-items: center;
    gap: 15px;
}
.icon{
    position: relative;
}
.count{
    position: absolute;
    top: -5px;
    right: -7px;
    width: 17px;
    height: 17px;
    background-color: red;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-react{
    font-size: 25px;
}